*{
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans', sans-serif;
}

.header {
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.logo img{
    width: 60px;
    height: 50px;
}
.toggle {
    font-size: 30px;
    display: none;
    color: white;
}
@media screen and (max-width: 600px) {
    nav {
        display: block;
        position: relative;
        padding: 15px 20px;
    }
    .nav-links{
        margin-top: 15px;
        display: none;
    }
    .nav-links.active, .toggle {
        display: block;
    }
    .toggle {
        position: absolute;
        top: 15px;
        right: 20px;
    }
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: rgb(229, 224, 224);
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    margin-top: 60px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 40px;
    color: white;
}
.text-box p{
    font-size: 15px;
    color: white;
}
.button{
    display: inline;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.button:hover{
    border: 1px solid gray;
    background: gray;
    transition: 1s;
}
.services{
    width:80%;
    margin: auto;
    text-align:center;
    padding-top: 40px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(74, 65, 65);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 20px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.services-col{
    background-color: #EFF5F5;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.services-col h3{
    text-align: center;
    font-weight: 700;
    margin: 10px 0;
}
.contact {
    width:80%;
    margin: auto;
    text-align:center;
    padding-top: 10px;
}
.super{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/contact.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 50%;
    min-height: 60vh;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid white;
    color: white;
    background: transparent;
    font-size: 15px;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: white;
    cursor: text;
    transition: 0.3s;
}
button{
    padding: 10px 0;
    color: white;
    outline: none;
    background: transparent;
    border: 1px solid white;
    width: 100%;
    cursor: pointer;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}
.faqs{
    width:80%;
    margin: auto;
    text-align:center;
    padding-top: 40px;
}
.faqs-col{
    background-color: #EFF5F5;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.wrap{
    color: white;
    text-align: center;
}
.wrap p{
    color: black;
}
.icon-box a{
    color: black;
}
.icon-box a:hover{
    color: #6aa384;
}






